body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E4C59E;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #AF8260;
    color: #333;
    padding-top: 10px;
    min-height: 70px;
    border-bottom: #5a5a5a 3px solid;
}

header h1 {
    float: left;
    margin: 10px;
}

header nav {
    float: right;
    margin-top: 18px;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
}

.showcase {
    background: url('background.jpg') no-repeat center center/cover;
    color: #333;
    height: 230px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 20px rgba(1, 2, 3, 0.5);
}

.showcase h2 {
    font-size: 3em;
}

.products {
    padding: 50px 0;
}

.product {
    background: #FEFAF6;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

}

.product img {
    width: 30%;
    border-radius: 10px;
}

.product h3 {
    margin-top: 10px;
}

.product p {
    font-size: 1.2em;
    color: #888;
}

button {
    padding: 10px 20px;
    border: none;
    background: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

button:hover {
    background: #555;
}

footer {
    background: #AF8260;
    color: #333;
    padding: 20px 0;
    text-align: center;
    margin-top: 30px;
   box-shadow: 50px;
}

footer p {
    margin: 0;
}
